form {
    border: 1px gray solid;    
}

table, td, th {
    border: 3px white solid;
    border-collapse: collapse;
}

th {
    color: white;
    background-color: gray;
}
td {
    padding: 0.2em 1em;
}

tr.even-row {
    background-color: white;
}
tr.odd-row {
    background-color: ghostwhite;
}
td.value td.binary {
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

.binHead {
    background-color: lemonchiffon;
}
.binTail {
    font-weight: bold;
}

#invalidAddrWarn {
    border: 3px pink solid;
    padding: 0.5em;
    background-color: lavenderblush;
}
