<!DOCTYPE html>
<html lang="en">
    <head>
        <title>IP Calculator</title>
        <link rel="stylesheet" type="text/css" href="./ipcalc.css">
    </head>
    <body>
        <div id="ipCalc">
            <h1>IP Calculator</h1>
            <h2>Input IP/Mask</h2>
            <form>
                <ul>
                    <li>
                        <label for="ipAddr">IP Address</label>
                        <input type="text" id="ipAddr" v-model="ipAddr">
                    </li>
                    <li>
                        <label for="length">Subnet Mask or Length</label>
                        <input type="text" id="subnet" v-model="subnet"> (e.g. 24 or 255.255.255.0)
                    </li>
                </ul>
            </form>
            <transition-group name="warnFade" tag="p">
                <div v-if="invalidAddr" key="ipWarn" class="warn">Invalid IP Address.</div>
                <div v-if="invalidMask" key="maskWarn" class="warn">Invalid Netmask.</div>
            </transition-group>
            <h2>Calculated values</h2>
            <p>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                        <th>Binary</th>
                    </tr>
                    <tr v-for="(row, index) in rows" v-bind:class="index % 2 ? 'even-row' : 'odd-row' ">
                        <td class="name">{{row.name}}</td>
                        <td class="value">{{row.value}}</td>
                        <td class="binary">
                            <span class="binHead">{{row.binary.head}}</span>
                            <span class="binTail">{{row.binary.tail}}</span>
                        </td>
                    </tr>
                </table>
            </p>
            <transition-group name="ipInfoFade" tag="p">
                <div id="addrType" v-if="addrType" key="ipInfo">
                    Address Block {{addrType.addrBlock}} is {{addrType.name}}.
                    Defined in RFC{{addrType.rfc}}.
                </div>
            </transition>
        </div>
        <div id="ipCalcView"></div>
        <script src="./js/bundle.js"></script>
    </body>
</html>
