<!DOCTYPE html>
<html lang="en">
    <head>
        <title>IP Calculator</title>
        <link rel="stylesheet" type="text/css" href="./ipcalc.css">
    </head>
    <body>
        <a href="https://github.com/stereocat/ipcalc_js">
            <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png">
        </a>
        <div id="ipCalc">
            <h1>IP Calculator</h1>
            <h2>Input IP/Mask</h2>
            <form>
                <ul>
                    <li>
                        <label for="ipAddr">IP Address : </label>
                        <input type="text" id="ipAddr" v-model="ipAddr">
                    </li>
                    <li>
                        <label for="length">Subnet Mask or Length : </label>
                        <input type="text" id="subnet" v-model="subnet"> (e.g. 24 or 255.255.255.0)
                    </li>
                </ul>
            </form>
            <transition-group name="warnFade" tag="p">
                <div v-if="invalidAddr" key="ipWarn" class="warn">Invalid IP Address.</div>
                <div v-if="invalidMask" key="maskWarn" class="warn">Invalid Netmask.</div>
            </transition-group>
            <h2>Calculated values</h2>
            <p>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                        <th>Binary</th>
                    </tr>
                    <tr v-for="(row, index) in rows" v-bind:class="index % 2 ? 'even-row' : 'odd-row' ">
                        <td class="name">{{row.name}}</td>
                        <td class="value">{{row.value}}</td>
                        <td class="binary">
                            <span class="binHead">{{row.binary.head}}</span>
                            <span class="binTail">{{row.binary.tail}}</span>
                        </td>
                    </tr>
                </table>
            </p>
            <transition-group name="ipInfoFade" tag="p">
                <div id="addrType" v-if="addrType" key="ipInfo">
                    Address Block {{addrType.addrBlock}} is {{addrType.name}}.
                    Defined in <a v-bind:href="'https://tools.ietf.org/html/rfc' + addrType.rfc">RFC{{addrType.rfc}}</a>.
                </div>
            </transition>
        </div>
        <h2>Address Block Tree</h2>
        <div id="ipCalcView"></div>
        <script src="./js/bundle.js"></script>
    </body>
</html>
