form {
    border: 1px gray solid;    
}

table, td, th {
    border: 1px darkgray solid;
    border-collapse: collapse;
}

th {
    color: white;
    background-color: gray;
}
td {
    padding: 0.2em 1em;
}

tr.even-row {
    background-color: white;
}
tr.odd-row {
    background-color: ghostwhite;
}
td.value td.binary {
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

.binHead {
    background-color: lemonchiffon;
}
.binTail {
    font-weight: bold;
}

#addrType {
    border: 3px darkgreen solid;
    padding: 0.5em;
    background-color: mintcream;
    margin: 0.2em;
}

.warn {
    border: 3px pink solid;
    background-color: lavenderblush;
    margin: 0.2em;
}

.warnFade-enter-active, .warnFade-leave-active,
.ipInfoFade-enter-active, .ipInfoFade-leave-active {
    transition: opacity 0.3s;
}
.warnFade-leave, .warnFade-enter-to,
.ipInfoFade-leave, .ipInfoFade-enter-to {
    opacity: 1;
}
.warnFade-enter, .warnFade-leave-to,
.ipInfoFade-enter, .ipInfoFade-leave-to {
    opacity: 0;
}
