rect {
    stroke: none;
    fill-opacity: 0.6;
    transition: fill-opacity .3s ease-in-out
}
rect.normalBlock {
    fill: #92C591;
}
rect.targetBlock {
    fill: #0A3409;
}
rect.selected {
    fill-opacity: 1.0;
    transition: fill-opacity .3s ease-in-out
}
text {
    fill: black;
    font-weight: normal;
    font-family: sans-serif;
}
text.targetBlock {
    fill: white;
    font-weight: bold;
}
