rect {
    opacity: 0.8;
}
rect.normalBlock {
    fill: lavender;
}
rect.targetBlock {
    fill: pink;
}
text {
    font-family: sans-serif;
    fill: black;
}
text.targetBlock {
    font-weight: bold;
}
